{% extends "base.html" %}	

{% block title %}New Poll{% endblock %}

{% block content %}



<form method="post">
	{% csrf_token %}
	<div class="create-form form-layout form-container">
		<!-- <input
		type="hidden"
		name="form-TOTAL_FORMS"
		value="2"
		id="id_form-TOTAL_FORMS"/>

		<input
		type="hidden"
		name="form-INITIAL_FORMS"
		value="0"
		id="id_form-INITIAL_FORMS"/>

		<input
		type="hidden"
		name="form-MIN_NUM_FORMS"
		value="0"
		id="id_form-MIN_NUM_FORMS"/>

		<input
		type="hidden"
		name="form-MAX_NUM_FORMS"
		value="1000"
		id="id_form-MAX_NUM_FORMS"/> -->

		{{ option_form.management_form }}

		<h2 class="form-title">Make a poll</h2>
		<div class="input-container">
			<label for="id_question">Question</label>
			<input
				type="text"
				name="question"
				maxlength="250"
				required
				id="id_question"
				class="input-box"
				placeholder="Enter question"/>
		</div>
		<div class="form-container option-form form-layout">

		<div id="option-form" class="form-layout">
			<label for="id_form-0-option">Option 1</label>
			<input
			type="text"
			name="form-0-option"
			maxlength="200"
			id="id_form-0-option"
			class="input-box"
			required
			/><input type="hidden" name="form-0-id" id="id_form-0-id" />

			<label for="id_form-1-option">Option 2</label>
			<input
			type="text"
			name="form-1-option"
			maxlength="200"
			id="id_form-1-option"
			class="input-box"
			/><input type="hidden" name="form-1-id" id="id_form-1-id" />
		</div>

		<button type="button" id="add-btn" class="add-btn"><i class="fas fa-plus"></i></button>
	</div>
		<input type="submit" value="Create" class="btn">
	</div>	
</form>

<script type="text/javascript">

	let add = $("#add-btn");
	add.on("click", handleAdd);

	let form = $("#option-form");

	let manageForm = $("#id_form-TOTAL_FORMS");
	let inputId = 2;
	let id = inputId + 1;

	function handleAdd(e) { 
		if (inputId < 4) {

			let content = `<label for="id_form-${inputId}-option">Option ${inputId + 1}</label>
							<input
								type="text"
								name="form-${inputId}-option"
								maxlength="200"
								id="id_form-${inputId}-option"
								class="input-box"/>
							<input type="hidden" name="form-${inputId}-id" id="id_form-${inputId}-id" />`

			form.append(content)

	  		inputId += 1;
	  		manageForm.val(String(inputId));

	  		let icon = $("#add-btn i")
			if (inputId >= 4) add.css("visibility","hidden") 
	  	};
	}

	console.log(add)

</script>

{% endblock %}



