{% extends 'base.html' %}

{% block title %}{{poll.question}}{%endblock%}

{% block content %}
<div class="poll-container poll-container-expand">
	<p class="user-info">{{poll.user.first_name}} &middot; {{ poll.get_time_delta }} ago</p>
    <p class="poll-subject">{{poll.question}}</p>
    <p class="all-votes">{{ poll.get_total_vote }} votes</p>
	<!-- <ul>
		{% for tag in poll.tag.all %}
		<li>{{ tag }}</li>
		{% endfor %}
	</ul> -->
	<form action="{% url 'poll_detail' pk=poll.pk %}" method="POST">
		{% csrf_token %}
		{% for option in poll.polloption_set.all %}
			<p class="radio-input">
				<input type="radio" name="option" value="{{ option.pk }}" id="option{{ forloop.counter }}">
				<label for="option{{ forloop.counter }}"><span style="width: 30%">{{ option.option }}</span></label>
			</p>
		{% endfor %}
		<input type="submit" value="Vote" class="vote-now">
	</form>
</div>
	<script type="text/javascript">
		// let label = document.querySelectorAll(".radio-input label");

		// for (let i = 0; i < label.length; i++) {
		//   label[i].addEventListener("click", handleVote);
		// }

		// let span = document.querySelectorAll(".radio-input span");
		// let radio = document.querySelectorAll(".radio-input input[type=radio]");

		// function handleVote(e) {
		//   for (let i = 0; i < span.length; i++) {
		//     span[i].className = "vote-result";
		//   }
		// }

	</script>

{% endblock content %}