{% extends "base.html" %}	

{% load static %}

{% block title %}New Poll{% endblock %}

{% block content %}



<form method="post">
	{% csrf_token %}
	<div class="create-form form-layout form-container">

		{{ option_form.management_form }}

		<h2 class="form-title">Make a poll</h2>
		<div class="input-container">
			<label for="id_question">Question</label>
			<input
				type="text"
				name="question"
				maxlength="250"
				required
				id="id_question"
				class="input-box"
				placeholder="Enter question"/>
		</div>
		<div class="form-container option-form form-layout">

		<div id="option-form" class="form-layout">
			<label for="id_form-0-option">Option 1</label>
			<input
			type="text"
			name="form-0-option"
			maxlength="200"
			id="id_form-0-option"
			class="input-box"
			required
			/><input type="hidden" name="form-0-id" id="id_form-0-id" />

			<label for="id_form-1-option">Option 2</label>
			<input
			type="text"
			name="form-1-option"
			maxlength="200"
			id="id_form-1-option"
			class="input-box"
			/><input type="hidden" name="form-1-id" id="id_form-1-id" />
		</div>

		<button type="button" id="add-btn" class="add-btn"><i class="fas fa-plus"></i></button>
	</div>
		<input type="submit" value="Create" class="btn">
	</div>	
</form>

<script src="{% static 'javascript/poll_create.js' %}"></script>

{% endblock %}



