{% extends 'base.html' %}

{% load static %}

{% block title %}{{poll.question}}{% endblock %}

{% block content %}
	<div class="poll-container poll-container-expand">
		{% if poll.user %}
	    <p class="user-info">{{poll.user.first_name}} &middot; {{ poll.date }}</p>
	    {% else %}
	    <p class="user-info">Anonymous &middot; {{ poll.date }}</p>
	    {% endif %}
	    <p class="poll-subject" data-poll-id="{{poll.id}}">{{poll.question}}</p>
	    <p class="all-votes">{{ poll.get_total_vote }} votes</p>
		
		<form method="POST">
			{% for option in poll.polloption_set.all %}
				<div class="radio-input">
					<input type="radio" name="option" value="{{ option.pk }}" id="option{{ forloop.counter }}">
					<label>
						<span class="result"></span>
						<span class="option">{{ option.option }}</span>
						<span class="percentage"></span>
					</label>
				</div>
			{% endfor %}
		</form>
	</div>
	
	<script src="{% static 'javascript/poll_detail.js' %}"></script>

{% endblock content %}

	
