{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="profile-layout">
	<div class="profile">
		<h3>Your Profile</h3>
		<table>
			<tr>
				<th>Email:</th>
				<td>{{request.user.email}}</td>
			</tr>
			<tr>
				<th>First Name:</th>
				<td>{{request.user.first_name}}</td>
			</tr>
			<tr>
				<th>Last Name:</th>
				<td>{{request.user.last_name}}</td>
			</tr>
		</table>
		<p><a href="{% url 'edit_profile' %}" class="vote-now">edit</a></p>
	</div>
	<div class="my-poll">
		{% if polls %}
			<h3>Your Polls</h3>
			{% for poll in polls %}
				<div class="poll-container poll-container-expand">
					<p class="user-info">{{poll.user.first_name}} &middot; {{ poll.get_time_delta }} ago 
						&middot; <a href="{% url 'delete_poll' pk=poll.pk %}" class="link">delete</a></p>
				    <p class="">{{poll.question}}</p>
				    <p class="all-votes">{{ poll.get_total_vote }} votes</p>
					<!-- <ul>
						{% for tag in poll.tag.all %}
						<li>{{ tag }}</li>
						{% endfor %}
					</ul> -->
					<ul class="poll-result">
						{% for option in poll.polloption_set.all %}
						<li class="poll-result-detail">
							{{ option.option }}
							<div style="width:{{option.get_percentage}}%">
							</div>
							<span>{{ option.get_percentage }} %</span>
						</li>
						{% endfor %}
					</ul>
				</div>
			{% endfor %}
		{% endif %}
	</div>
{% endblock content %}