{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

{% if form.error %}
<p>Your user name and password didn't match. Try Again</p>
{% endif %}

{% if not user.is_authenticated %}
{% endif %}

<form method="post" action="{% url 'login' %}">
	{% csrf_token %}
	<div class="form form-layout form-container">
		<h2 class="form-title">Welcom Back!</h2>
		<div class="input-container">
			<label for="id_username">Email Address:</label>
			<input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="254" required="" id="id_username" value="hannfei99@gmail.com">
			<label for="id_password">Password:</label>
			<input type="password" name="password" autocomplete="current-password" required="" id="id_password" value="11111111">
		</div>
		<input type="submit" value="Login" class="btn">
		<p class="register"><a href="{% url 'registration' %}">Don't have an account yet? Register now</a></p>
	</div>	
	
	<input type="hidden" name="next" value="{{ next }}">
</form>

{% endblock %}