{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

{% if form.error %}
<p>Your user name and password didn't match. Try Again</p>
{% endif %}

{% if not user.is_authenticated %}
{% endif %}

<form method="post" action="{% url 'login' %}">
	{% csrf_token %}
	<div class="form-layout">
		<h2 class="form-title">Login</h2>
		<div class="form form-layout form-container">
			{{form}}
		</div>
		<input type="submit" value="login" class="btn">
	</div>
	
	<input type="hidden" name="next" value="{{ next }}">
</form>

{% endblock %}