{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

{% if form.error %}
<p>Your user name and password didn't match. Try Again</p>
{% endif %}

{% if not user.is_authenticated %}
{% endif %}

<form method="post" action="{% url 'login' %}">
	{% csrf_token %}
	<div class="form form-layout form-container">
		<h2 class="form-title">Welcom Back!</h2>
		<div class="input-container">
			{{ form }}
		</div>
		<input type="submit" value="Login" class="btn">
		<p class="register"><a href="{% url 'registration' %}">Don't have an account yet? Register now</a></p>
	</div>	
	
	<input type="hidden" name="next" value="{{ next }}">
</form>

{% endblock %}