:root {
  --main-color: #065fd4;

  --check-color: rgb(211, 223, 235);

  --checked-color: rgb(211, 223, 300);

  --subtitle-color: #6c6c6c;
  
  --main-bg-color: #f2f3f5;

  --main-border-color: #c3c7cf;

  /* input */

  --main-input-bg: #eeeeee;

  --label-color: #2f333a;

  --input-border-color: #c3c7cf;

  --error-color: #d93025;

  --title-font: 'Chilanka', cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  font-size: 16px;  
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.8;
  color: #000;
  background-color: var(--main-bg-color);
  height: 100%;
}

hr {
  width: 100%;
  outline: none;
  border: 0;
  border-bottom: 1px solid var(--main-border-color);
}

/*BASE*/

.page-header {
  background-color: #fff;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.page-header h1 {
  font-family: 'Chilanka', cursive;
}

.page-header h1 a {
  color: var(--main-color);
  margin-left: 40px
}

.user-icon {
  margin-right: 40px;
  cursor: pointer;
}

.sign-in {
  margin-right: 40px;
  cursor: pointer;
  border: 1px solid var(--main-color);
  padding: 3px 8px;
}

.sign-in a {
  color: var(--main-color);
  font-weight: bold;
  font-size: 1rem;
}

.user-icon i,
.sign-in i {
  font-size: 2rem;
  margin-right: 5px;
  color: var(--main-color)
}

.sign-in i {
  font-size: 1rem;
}

.user-auth {
  position: absolute;
  z-index: 99;
  background-color: #fff;
  opacity: 0.8;
  border: 1px solid var(--main-border-color);
  right: 90px;
  top: 20px;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: 0.2s all;

}

.hidden {
  display: none;
}

.account,
.authen {
  padding: 5px 15px;
}

.account .user-name {
  font-weight: bold;
  font-size: 1.2rem;
}

.account .user-email {
  font-size: 1rem;
}

.account a {
  font-size: 0.8rem;
  color: var(--main-color);
}

.authen a {
  color: var(--main-color);
  font-weight: 700;
}

main {
  min-height: calc(100vh - 100px - 60px);
}

footer {
  position: absolute;
  width: 100%;
  background-color: transparent;
  height: 100px;
  margin-top: 50px;
  text-align: center;
  line-height: 100px;
}


/*POLL*/

.title {
  margin: 0 20px 25px;
  color: #030303;
  padding-bottom: 10px;
  border-bottom: 1px solid #0000001a;
}

.title h2 {
  margin-right: 10px;
  font-size: 20px;
  float: left;
  font-family: 'Chilanka', cursive;

}

.tooltip i {
  font-size: 15px;
  color: #2e64fe;
  border: 1px solid #2e64fe;
  border-radius: 50%;
  padding: 5px;
}

.tooltip:hover i {
  color: #fff;
  background-color: #2e64fe;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltip-text {
  visibility: hidden;
  background-color: var(--main-color);
  opacity: 0.8;
  width: 160px;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  padding: 5px 0;
  border-radius: 4px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  top: 140%;
  left: 50%;
  /*margin-left: -80px;  (- width/2)*/
  transform: translateX(-50%);
}

/* add arrow */

.tooltip .tooltip-text::after {
  content: " ";
  position: absolute;
  bottom: 100%; /* At the bottom of the tooltip */
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent var(--main-color) transparent;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

.link {
  color: var(--main-color);
  text-decoration: underline;
}

.poll {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-items: center;
  grid-row-gap: 20px;
}

.poll-container {
  background-color: #fff;
  width: 350px;
  height: 220px;
  padding: 12px 24px;
  border: 1px solid var(--main-border-color);
}


.user-info {
  color: var(--subtitle-color);
  font-size: 13px;
  margin-bottom: 10px;
}

.delete {
  color: var(--error-color);
  font-size: 1.2rem;
  cursor: pointer;
  float: right;
}

.no-poll {
  margin-top: 50px;
  text-align: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.3rem;
}

.no-poll a {
  color: var(--main-color);
  text-decoration: underline;
  text-decoration-style: ; 
}

.poll-subject {
  font-size: 20px;
  font-weight: 500;
  font-size: 16px;
  height: 70px;
  overflow: hidden;
  word-wrap: break-word;
}

.all-votes {
  color: var(--subtitle-color);
  font-size: 15px;
  margin-bottom: 20px;
}

.vote-now {
  display: inline-block;
  padding: 5px 15px;
  font-size: 16px;
  border: 1px solid var(--main-color);
  font-weight: bold;
  transition: all 0.3s;
  background-color: #fff;
  color: var(--main-color);
  cursor: pointer;
}

.vote-now:hover {
  color: #fff;
  background-color: var(--main-color);
}

.closed {
  color: #fff;
  background-color: var(--main-color);
}

/* poll detail: vote */

.poll-container-expand {
  padding: 50px 50px;
  width: 70%;
  min-width: 350px;
  margin: 20px auto;
  height: auto;
}

.poll-container-expand .poll-subject {
  height: auto;
  margin-bottom: 20px;
  overflow: hidden;
}

.radio-input input[type="radio"] {
  display: none;
}

.radio-input {
  margin-bottom: 15px;
}

.radio-input label,
.label {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 80%;
}

.radio-input label span,
.label span {
  height: 35px;
  line-height: 35px;
  display: inline-block;
  padding-left: 20px;
  transition: 0.3s all;
  border-radius: 4px;
  background-color: transparent;
  z-index: 99;
  
}

.result {
  background-color: rgb(211, 223, 228);
}

.vote-checked {
  background-color: rgb(83, 144, 167);
}

.radio-input label::before {
  content: "";
  border: 2px solid #222;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  border-radius: 50%;
}

.radio-input label::after {
  content: "\2714";
  display: inline-block;
  position: absolute;
  width: 12px;
  height: 17px;
  padding-left: 5px;
  background-color: #222;
  color: #fff;
  font-size: 11px;
  opacity: 0;
  left: 0.1%;
  top: 26%;
  border-radius: 50%;

  transition: all 0.4s;
}

.percentage {
  position: absolute;
  right: 0;
  top: 0;
}

.checked label::after {
  opacity: 0;
}

.check label::before,
.checked label::before {
  opacity: 0;
}


.result {
  position: absolute;
  left: 25px;
}

.voted-result {
  left: 0;
}

.checked .result {
  background-color: rgb(211, 223, 300);
}

.check .result {
  background-color: rgb(211, 223, 235);
}

/*POLL RESULT*/

.poll-result-detail {
  margin-bottom: 15px;
  padding-left: 20px;
  width: 500px;
  position: relative;
  background-color: transparent;
}

.poll-result-detail div{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4;
  height: 30px;
  display: inline-block;
  border-radius: 10px;
  background-color: rgb(211, 223, 228);
}

.poll-result-detail span{
  position: absolute;
  top: 0;
  left: 450px;
  height: 30px;
  display: inline-block;
  border-radius: 10px;
}


/*CREATE POLL*/

.form {
  width: 40%;
  min-width: 350px;
  margin: auto;
}

.create-form {
  width: 60%;
  min-width: 350px; 
  margin: auto;
}

.form-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.form-container {
  border: 1px solid #c3c7cf; /* var(--input-border-color) */
  border-radius: 4px;
  padding: 25px 40px 35px;
  margin-bottom: 30px;
  background-color: #fff;
}

.form-title {
  font-family: var(--title-font);
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 10px;
}

.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-container input {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  padding: 5px 10px;
  background-color: #fff;
  outline: none;
}

.input-container label {
  color: var(--label-color);
  font-weight: bold;
  font-size: 0.7rem;  
  text-align: left;
}

input[type="submit"] {
  width: 100%;
  height: 45px;
/*  font-family: 'sans-serif';
*/  border-radius: 4px;
  border: none;
  outline: none;
  background-color: var(--main-color);
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

.register {
  margin-top: 10px;
}

.register a {
  color: var(--main-color);
  text-decoration: underline;
  font-size: 0.7rem;
  margin-top: 20px;
}

.errorlist li {
  font-size: 0.8rem;
  color: var(--error-color);
}

.helptext {
  display: none;
}

.validate {
  border: 1px solid var(--error-color) !important;
  margin-bottom: 0 !important;
}

.validate-text {
  color: var(--error-color);
  font-size: 0.8rem;
}

.question-form input {
  min-width: 700px;
  height: 40px;
  margin-bottom: 50px;
}

.option-form {
  width: 100%;
}

#option-form {
  width: 100%;
}

.option-form input {
  width: 100%;
  height: 30px;
  padding: 5px 10px 2px;
  background: var(--main-input-bg); 
  outline: none;
  border: none;
  margin-bottom: 5px;
}

.option-form input:focus {
  border-bottom: 1px solid var(--main-color);
}

.option-form label {
  font-size: 12px;
  font-weight: bold;
  color: var(--label-color);
  opacity: .8;  
}

.option-form .add-btn {
  background: none;
  outline: none;
  border: none;
}

.option-form .add-btn i {
  margin-top: 20px;
  color: var(--main-color);
  cursor: pointer;
  transition: 0.3s all;
}

.option-form .add-btn i:hover {
  border: 1px solid var(--main-color);
  padding: 10px;
  border-radius: 50%;
}

.done {
  display: flex;
  justify-content: center;
  align-items: center;
}

.done h1 {
  font-family: var(--title-font);
}

.helptext {
  font-family: var(--title-font);
  font-size: 13px;
  text-align: center;
}

/*PROFILE*/

.profile-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 50px;

  position: relative;
}

.my-poll {
  margin-left: 100px;
}

.my-poll h3 {
  font-family: var(--title-font);
  border-bottom: 0.5px solid var(--main-border-color);
}

.user-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/*.profile-container {
  width: 30%;
  position: relative;
}*/

.profile {
  width: 30%;
  min-width: 250px;
  height: 400px;
  padding: 20px 0;
  text-align: center;
  border-radius: 30px;
  border: none;
  box-shadow: 0px 13px 27px 6px #a8a8a8;
  margin-top: 50px;

  /*position: fixed;
  z-index: 10;*/
}

.profile .email {
  margin-top: 10px;
  font-weight: 500;
  background-color: var(--main-bg-color);
  padding: 5px 20px;
  border-radius: 30px;
}

.profile i {
  color: var(--main-color);
  font-size: 4rem;
}

.detail {
  width: 100%;
  padding: 10px 40px;
  text-align: left;
  font-size: .9rem;
  background-color: var(--main-bg-color);
}

.detail i {
  font-size: 0.8rem;
  color: var(--main-color)
}

.btn {
  background-color: var(--main-color);
  color: #fff;
  padding: 10px 50px;
  border-radius: 40px;
  font-weight: bold;
}

/*.profile:hover {
  box-shadow: 0px 5px 15px #aaa;
}*/

.user-email {
  font-family: var(--title-font);
  font-size: 20px;
}


@media (max-width: 1000px) {
  .profile-layout {
    flex-direction: column;
    align-items: center;
  }

  .profile {
    width: 60%;
    margin-right: 0;
    margin-bottom: 50px;
  }

  .my-poll {
    margin-left: 0;
  }

}