{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{%endblock%}</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
      integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/poll12.css' %}">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <header>
        <div class="page-header">
            <h1><a href="{% url 'all_poll' %}">Poll Me!</a></h1>
            {% if request.user.is_authenticated %}
            <div class="user-icon">
                    <i class="fas fa-user-circle"></i>
            </div>
            {% else %}
            <div class="sign-in">
                <i class="fas fa-user-circle"></i>
                <a href="{% url 'login' %}">LOGIN</a>
            </div>
            {% endif %}
        </div>
        <div class="user-auth hidden">
            <div class="account">
                <p class="user-name">{{ request.user.first_name }}</p>
                <p class="user-email">{{ request.user.email }}</p>
                <p class=""><a href="{% url 'profile' %}">Your Profile</a></p>
            </div>
            <hr>
            <div class="authen">
                <p><a href="{% url 'password_change' %}">Change Password</a></p>
                <p><a href="{% url 'logout' %}">Logout</a></p>
            </div>
        </div>
    </header>

    <main>
        
        {% block content %}
        {% endblock %}

        <script type="text/javascript">
            let user = $(".user-icon i")
            let userAuth = $(".user-auth")

            // user.click(function(e) {
            //     userAuth.removeClass("hidden")
            // })


            $(document).click(function(e) {
                let target = $(e.target)
                if(target.closest('.user-icon').length !== 0 ){
                    userAuth.removeClass("hidden")
                    console.log(userAuth)
                }
                else if(!target.closest('.user-auth').length && userAuth.is(":visible")) {
                    userAuth.addClass("hidden")
                }
            })
        </script>
    </main>
    
    <footer>
        <p>Copyright &copy; <script type="text/javascript">document.write(new Date().getFullYear());</script>,Han Al
        </p>
    </footer>
    </div>
</body>
</html>